<% extend('layout/masterChat') %>

<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Chat
                <small class="text-muted">Welcome to App Chat Kỳ Smile</small>
                </h2>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a href="index-2.html"><i class="zmdi zmdi-home"></i> Home</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">App</a></li>
                    <li class="breadcrumb-item active">Chat</li>
                </ul>                
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row clearfix">           
            <div class="col-lg-12 col-xl-12">
                <div class="card chat-app">
                    <div id="plist" class="people-list">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-search"></i>
                            </span>
                        </div>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane slideRight active" id="people">
                                <ul class="chat-list list-unstyled m-b-0">
                                    <% contacts.forEach(user => { %>  
                                        <li class="clearfix" data-id="<%= user._id %>">
                                            <img src="assets/images/<%= user.avatar %>" width="45" height="45 alt="avatar" />
                                            <div class="about">
                                                <div class="name"><%= user.username %></div>
                                                <div class="status"> <i class="zmdi zmdi-circle offline"></i> anh nhớ em .. </div>                                            
                                            </div>
                                        </li>
                                    <% }) %> 
                                </ul>
                            </div>
                        </div>
                    </div>
                    <%  allConversationWithMessage.forEach((conversation,index) => { %> 
                    <div class="chat" data-id="<%= conversation._id %>" 
                        <% if(index != 0){ %> 
                            style="display:none;"
                        <% } %> 
                    >
                        <div class="chat-header clearfix">
                            <img src="assets/images/xs/avatar2.jpg" alt="avatar" />
                            <div class="chat-about"> 
                                <div class="chat-with"><%= conversation.username %> </div>
                                <div class="chat-num-messages">already <%= conversation.messages.length %> messages</div>
                            </div>
                            <a href="javascript:void(0);" class="list_btn btn btn-primary btn-round float-md-right"><i class="zmdi zmdi-comments"></i></a>
                        </div>
                        <div class="chat-history" data-id="<%= conversation._id %>" >
                            <ul data-id="<%= conversation._id %>" >
                                <% conversation.messages.forEach(function(message){ %>
                                    <% if(message.messageType === "text"){ %>
                                        <% if(message.sender.id == user._id){ %>
                                            <li class="clearfix"> 
                                                <div class="message-data text-right"> <span class="message-data-time" ><%= convertTimestampsToDMY(message.createdAt) %></span> &nbsp; &nbsp; <span class="message-data-name" ><%= message.sender.name %></span> <i class="zmdi zmdi-circle me"></i> </div>
                                                <div class="message other-message float-right"><%= message.text %></div>
                                            </li>
                                        <% }else{ %>
                                            <li>
                                                <div class="message-data">
                                                    <span class="message-data-name"><i class="zmdi zmdi-circle online"></i><%= message.receiver.name %></span> <span class="message-data-time"><%= convertTimestampsToDMY(message.createdAt) %></span>
                                                </div>
                                                <div class="message my-message"><%= message.text %></div>
                                            </li>  
                                        <% } %>
                                    <% } %>  
                                    <% if(message.messageType === "image"){ %>
                                        <% if(message.sender.id == user._id){ %>
                                            <li class="clearfix"> 
                                                <div class="message-data text-right"> <span class="message-data-time" ><%= convertTimestampsToDMY(message.createdAt) %></span> &nbsp; &nbsp; <span class="message-data-name" ><%= message.sender.name %></span> <i class="zmdi zmdi-circle me"></i> </div>
                                                <div class="message other-message float-right">
                                                    <div class="row">
                                                        <div class="col-sm-12 col-lg-12 ">
                                                            <a href="javascript:void(0);">
                                                                <img src="assets/images/image4.jpg" width="300" height="200" alt="" class="img-fluid img-thumbnail"> 
                                                            </a> 
                                                        </div>
                                                    </div>    
                                                </div>
                                            </li>
                                        <% }else{ %>
                                            <li>
                                                <div class="message-data">
                                                    <span class="message-data-name"><i class="zmdi zmdi-circle online"></i><%= message.receiver.name %></span> <span class="message-data-time"><%= convertTimestampsToDMY(message.createdAt) %></span>
                                                </div>
                                                <div class="message my-message">
                                                    <div class="row">
                                                        <div class="col-sm-12 col-lg-12 ">
                                                            <a href="javascript:void(0);">
                                                                <img src="assets/images/image4.jpg" width="300" height="200" alt="" class="img-fluid img-thumbnail"> 
                                                            </a> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>  
                                        <% } %>
                                    <% } %> 
                                <% }) %>
                            </ul>
                        </div>
                        <div class="chat-message clearfix">
                            <div class="input-group p-t-15" id="divChat">
                                <input data-id="<%= conversation._id %>"  id="write-chat-<%= conversation._id %>" type="text" class="form-control write-chat" placeholder="Enter text here...">
                                <span class="input-group-addon">
                                    <i class="zmdi zmdi-mail-send"></i>
                                </span>
                            </div>
                            <a href="javascript:void(0);" class="btn btn-raised btn-warning btn-round"><i class="zmdi zmdi-camera"></i></a>
                            <a href="javascript:void(0);" class="btn btn-raised btn-info btn-round"><i class="zmdi zmdi-file-text"></i></a>                            
                        </div>
                    </div>
                    <%  }) %> 
                </div>
            </div>
        </div>
    </div>
</section>
<script>
$(function(){
    $(document).on('keyup','.write-chat',function(e){
        let receivedId = $(this).attr('data-id');
        let message = $(this).val();
        let thiss = $(this);
        if(message.length != 0){
            if(e.which == 13){
                if(!receivedId || !message){
                    return false;
                }
                $.post('/send-massage-to-user',{receivedId:receivedId,message:message},function(data){
                    if(data.message.messageType == "text"){
                        $(`.chat-history ul[data-id=${receivedId}]`).append(`
                            <li class="clearfix"> 
                                <div class="message-data text-right"> <span class="message-data-time" >${moment(data.message.createdAt).format('DD/MM/YYYY, HH:mm:ss')}</span> &nbsp; &nbsp; <span class="message-data-name" >${data.message.sender.name}</span> <i class="zmdi zmdi-circle me"></i> </div>
                                <div class="message other-message float-right">${data.message.text}</div>
                            </li>
                        `);
                        thiss.val('');
                        $(`.chat .chat-history[data-id=${receivedId}]`).scrollTop($(`.chat .chat-history[data-id=${receivedId}]`)[0].scrollHeight - 50);                       
                        socket.emit('send-massage-to-user',{userId : receivedId , senderId : data.message.sender.id, senderName :data.message.sender.name, message : data.message.text});
                    }   
                })
            }
        }
    })
    socket.on('response-send-massage-to-user',function(data){
        $(`.chat-history ul[data-id=${data.receivedId}]`).append(`
        <li>
            <div class="message-data">
                <span class="message-data-name"><i class="zmdi zmdi-circle online"></i>${data.receivedName}</span> <span class="message-data-time">${moment(Date.now()).format('DD/MM/YYYY, HH:mm:ss')}</span>
            </div>
            <div class="message my-message">${data.message}</div>
        </li>  
        `);
        $(`.chat .chat-history[data-id=${data.receivedId}]`).scrollTop($(`.chat .chat-history[data-id=${data.receivedId}]`)[0].scrollHeight - 50);
    })
    socket.on('response-approve-add-friend',function(data){
        $('.chat-list').append(`
            <li class="clearfix" data-id="${data.userApproveAddFriend._id}">
                <img src="assets/images/${data.userApproveAddFriend.avatar}" alt="avatar" />
                <div class="about">
                    <div class="name">${data.userApproveAddFriend.username}</div>
                    <div class="status"> <i class="zmdi zmdi-circle online"></i> online </div>
                </div>
            </li>
        `);
    })
})
</script>
