<% extend('layout/masterChat') %>

<section class="content contact">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Chào mừng
                <small class="text-muted">bán đến với App Chat Kỳ Smile</small>
                </h2>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a href="index-2.html"><i class="zmdi zmdi-home"></i> App Chat</a></li>
                    <li class="breadcrumb-item active">Contact</li>
                </ul>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12 request-contact-mobile" >
                <button type="button" class="btn btn-simple dropdown-toggle btn-round" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="zmdi zmdi-label"></i>
                    <span class="caret">Tìm Liên hệ</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right slideDown dropdown-menu-mobile">
                    <li data-contact="1">
                        <a href="javascript:void(0);">Tìm Liên hệ</a>
                    </li>
                    <li data-contact="2">
                        <a href="javascript:void(0);">Danh Bạ <span data-id="<%= user._id %>" class="color-r danh-ba">(<%= countAllContacts %>)</span></a>
                    </li> 
                    <li data-contact="3">
                        <a href="javascript:void(0);">Đang Chờ Xác Nhận <span data-id="<%= user._id %>" class="color-r dang-cho-xac-nhan">(<%= countAllContactsSend %>)</span></a>
                    </li>
                    <li data-contact="4">
                        <a href="javascript:void(0);">Yêu Cầu Kết Bạn <span data-id="<%= user._id %>" class="color-r yeu-cau-ket-ban">(<%= countAllContactsRecevied  %>)</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card action_bar">
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-lg-8 col-md-8 col-12">
                                <div class="input-group search">
                                    <input id="search-user-to-add-frient" type="text" class="form-control" placeholder="Tìm kiếm liên hệ...">
                                    <span class="input-group-addon">
                                        <i class="zmdi zmdi-search"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="btn-group hidden-sm-down" role="group">
                                    <div class="btn-group request-contact">
                                        <button type="button" class="btn btn-simple dropdown-toggle btn-round" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="zmdi zmdi-label"></i>
                                            <span class="caret">Tìm Liên hệ</span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right slideDown">
                                            <li data-contact="1">
                                                <a href="javascript:void(0);">Tìm Liên hệ</a>
                                            </li>
                                            <li data-contact="2">
                                                <a href="javascript:void(0);">Danh Bạ <span data-id="<%= user._id %>" class="color-r danh-ba">(<%= countAllContacts %>)</span></a>
                                            </li>
                                            <li data-contact="3">
                                                <a href="javascript:void(0);">Đang Chờ Xác Nhận <span data-id="<%= user._id %>" class="color-r dang-cho-xac-nhan">(<%= countAllContactsSend %>)</span></a>
                                            </li>
                                            <li data-contact="4">
                                                <a href="javascript:void(0);">Yêu Cầu Kết Bạn <span data-id="<%= user._id %>" class="color-r yeu-cau-ket-ban">(<%= countAllContactsRecevied  %>)</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="card divContact" style="margin-bottom: 0px;">
                                    <!-- table render-->
                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
    </div>
</section>
<script>
$(function(){
    $('.slideDown > li').on('click',function(){
        $('.caret').html($(this).find('a').html().split('<')[0]);
        let type = $(this).attr('data-contact');
        (type == 1) ? $('.search').css({'display':'flex'}) : $('.search').css({'display':'none'});
        getListUserContact(type);
    })
    // hoàn tác kết bạn 
    $(document).on('click','.revert-add-contact-send',function(){
        let idUser = $(this).attr('data-id');
        let trInfoUser = $(this).parent().parent().remove();
        $.ajax({
            url : '/revert-add-contact-send',
            type : 'GET',
            data : {idUser : idUser},
            success : function (data) {
                if(data){
                    toastr.success('Hoàn tác kết bạn thành công','',{timeOut : 5000});
                    descreaseNumberNotiContact("dang-cho-xac-nhan");
                    socket.emit('revert-add-contact-send',idUser);
                }
                    
            }
        })
    })
    // đồng ý kết bạn
    $(document).on('click','.approve-add-friend',function(){
        let idUser = $(this).attr('data-id');
        let thiss = $(this);
        let IdUserApproveAddFriend = $('#currentIdUser').val();
        $.ajax({
            url : '/approve-add-friend',
            type : 'GET',
            data : { idUser : idUser},
            success : function(data) {
                if(data.success){
                    thiss.parent().parent().remove();
                    socket.emit('approve-add-friend',{senderId : idUser , data : data.data , IdUserApproveAddFriend : IdUserApproveAddFriend})
                }
            } 
        })
    })


    socket.on('response-revert-add-contact-send',function(data){
        descreaseNumberNotiContact('yeu-cau-ket-ban');
        $(`.tr-contact-received[data-id = ${data.idSender}]`).remove();
    })
    socket.on('response-approve-add-friend',function(data){
        console.log(data)
        $('.list-unstyled').prepend(data.notify);
        $(`.tr-contact-send[data-id=${data.currentIdUser}]`).remove();
        descreaseNumberNotiContact("dang-cho-xac-nhan");
        increaseNumberNotiContact("danh-ba")
        $(`.table-contact-list-user tbody`).prepend(`
        <tr>
            <td>
                <img src="assets/images/${data.userApproveAddFriend.avatar}" style="object-fit: cover;" width="40" height="40" class="rounded-circle avatar" alt="">
                <p class="c_name">${data.userApproveAddFriend.username}</p>
            </td>
            <td class="table-phone-mobile">
                <span class="phone"><i class="zmdi zmdi-phone m-r-10"></i>${data.userApproveAddFriend.phone}</span>
            </td>
            <td class="table-address-mobile">
                <address><i class="zmdi zmdi-pin"></i>${data.userApproveAddFriend.address}</address>
            </td>
            <td>
                <button data-id="${data.userApproveAddFriend._id}" class="btn btn-default btn-icon btn-simple btn-icon-mini btn-round choose-chat">
                    <i class="zmdi zmdi-comment-more"></i>
                </button>
                <button data-id="${data.userApproveAddFriend._id}" class="btn btn-default btn-icon btn-simple btn-icon-mini btn-round delete-friend-list-user">
                    <i class="zmdi zmdi-delete"></i>
                </button>
            </td>
        </tr>
        `);
    })
})
function getListUserContact(type){
    $.ajax({
        url  : '/get-data-by-type',
        type : 'GET',
        data : { type : type },
        success : function (data) {
            $('.divContact').html(data.tableUserSide);
        }
    })
}
function increaseNumberNotiContact(className){
    let number =  $(`.${className}`).html().replace("(","").replace(")","");
    number == "" ? number = 0 : number = parseInt(number);
    number++;
    $(`.${className}`).html(`(${number})`);
}
function descreaseNumberNotiContact(className){
    let number =  $(`.${className}`).html().replace("(","").replace(")","");
    number == "" ? number = 0 : number = parseInt(number);
    number--;
    $(`.${className}`).html(`(${number})`);
}
</script>