<!doctype html>
<html class="no-js " lang="en">

<!-- Mirrored from www.wrraptheme.com/templates/compass/html/chat.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 09 Oct 2019 01:30:57 GMT -->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">

<title>App Chat Kỳ Smile</title>
<link rel="icon" href="favicon.ico" type="image/x-icon">
<!-- Favicon-->
<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
<!-- Custom Css -->
<link rel="stylesheet" href="assets/css/animate.css">
<link rel="stylesheet" href="assets/css/chatapp.css">
<link rel="stylesheet" href="assets/css/color_skins.css">
<link rel="stylesheet" href="assets/css/main.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<link rel="stylesheet" href="sweetalert2/dist/sweetalert2.min.css">
<script src="assets/js/jquery-3.4.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.js"></script>
<style>
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid rgb(231, 122, 231);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 27px;
    left: 27px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}
</style>
</head>
<body class="theme-cyan">
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img class="zmdi-hc-spin" src="assets/images/logo.png" width="48" height="48" alt="Compass"></div>
        <p>Please wait...</p>
    </div>
</div>

<!-- Overlay For Sidebars -->
<div class="overlay"></div>

<!-- Top Bar -->
<nav class="navbar">
    <div class="col-12">        
        <div class="navbar-header">
            <a href="javascript:void(0);" class="bars"></a>
            <a class="navbar-brand" href="index-2.html"><img src="assets/images/logo.png" width="30" alt="Compass"><span class="m-l-10">Compass</span></a>
        </div>
        <ul class="nav navbar-nav navbar-left">
            <li><a href="javascript:void(0);" class="ls-toggle-btn" data-close="true"><i class="zmdi zmdi-swap"></i></a></li>            
            
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="zmdi zmdi-notifications"></i>
                <div class="notify notify-navbar"><span class="heartbit"></span><span class="point"></span></div>
                </a>
                <ul class="dropdown-menu dropdown-menu-right slideDown">
                    <li class="header">NOTIFICATIONS</li>
                    <li class="body">
                        <ul class="menu list-unstyled">
                            <% notifications.forEach(notification => { %>
                                <%- notification %>
                            <% }) %>
                        </ul>
                    </li>
                    <li class="footer"> <a href="javascript:void(0);">View All Notifications</a> </li>
                </ul>
            </li>
            
            
            <li><a href="/logout" class="mega-menu" data-close="true"><i class="zmdi zmdi-power"></i></a></li>
            
        </ul>
    </div>
</nav>

<!-- Left Sidebar -->
<aside id="leftsidebar" class="sidebar">
    <div class="menu">
        <ul class="list">
            <li style="margin:20px 0px 40px 0px ;">
                <div class="user-info">
                    <div class="image"><a href="profile.html"><img id="imgLeftSideBar" src="assets/images/<%= user.avatar %>" alt="User"></a></div>
                    <div class="detail" style="margin:10px 0px 20px 0px ;">
                        <h5><%= user.username %></h5>                      
                    </div>
                </div>
            </li>
            <li <% if( typeLleftSide == "chat") { %> class="active" style="background: #ccc2c269;border-radius: 2px;" <% } %> > 
                <a href="/chat">
                    <i class="zmdi zmdi-comments"></i><span>Chat</span>
                </a>
            </li>
            <li <% if( typeLleftSide == "contact") { %> class="contact" style="background: #ccc2c269;border-radius: 2px;" <% } %>> 
                <a href="/contact">
                    <i class="zmdi zmdi-account-box-phone"></i><span>Contact</span>
                </a>
            </li>
            <li<% if( typeLleftSide == "edit") { %> class="active" style="background: #ccc2c269;border-radius: 2px;" <% } %>> 
                <a href="/edit">
                    <i class="zmdi zmdi-edit"></i><span>Edit</span>
                </a>
            </li>
            <li> 
                <a href="javascript:void(0);">
                </a>
            </li>
            <li> 
                <a href="javascript:void(0);">
                </a>
            </li>
            <li> 
                <a href="javascript:void(0);">
                </a>
            </li>
            <li> 
                <a href="javascript:void(0);">
                </a>
            </li>
        </ul>
    </div>
</aside>


<!-- Content-->
<%- content %>


<!-- currentIdUser -->
<input type="hidden" id="currentIdUser" value="<%= user._id %>">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script src="sweetalert2/dist/sweetalert2.all.min.js"></script>
<script src="assets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js --> 
<script src="assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js --> 
<script src="assets/bundles/mainscripts.bundle.js"></script><!-- Custom Js -->
<script>
    const socket = io();
</script>
<script src="assets/js/sweetalert.min.js"></script>
<script src="assets/js/moment.js"></script>
<script src="assets/js/moment-with-locales.js"></script>
<script src="assets/js/onAndOffNotify.js"></script>
<script src="assets/js/updateUser.js"></script>
<script src="assets/js/searchUserToAddFriend.js"></script>

<script  type="text/javascript">
$(document).ready(function(){
    
    $(".list_btn").on('click',function(){
        $("#plist").toggleClass("open");
    });
    $('.btnNewGroup').on('click',function(){
        $('#modalNewGroup').modal('show');
    })
})

</script>
<!-- Alert Errors and Success -->
<% if(errors != "") { %>
    <script>
        $(function(){
            toastr.options = {
                "closeButton": true, // click x thì mất
                "timeOut": "10000", // sau 10s thì mất
                "extendedTimeOut": "5000" //hover chuột thì 5s mới mất
            }
        })
    </script>
    <% errors.forEach(function(error){ %>
        <script>
            $(function(){
                toastr.error("<%= error %>")
            })
        </script>
    <% }) %>
<% } %>

<% if(success != "") { %>
    <script>
        $(function(){
            toastr.options = {
                "closeButton": true, // click x thì mất
                "timeOut": "10000", // sau 10s thì mất
                "extendedTimeOut": "5000" //hover chuột thì 5s mới mất
            }
        })
    </script>
    <% success.forEach(function(item){ %>
        <script>
            $(function(){
                toastr.success("<%= item %>")
            })
        </script>
    <% }) %>
<% } %>
</body>
</html>